<div class="banner-home"
  style="background-image: linear-gradient(-225deg, rgba(4, 43, 104, 0.7) 30%, rgba(4, 43, 104, 0.5) 50%),
         url('<%= cl_image_path @image %>'); background-size: cover; background-position-y: 25%;">
  <div class="banner-content-home">
  </div>
  <% if current_user && current_user.id == 1 %>
    <p class="edit_picture_icon">
    <%= link_to edit_picture_path(Picture.first) do %><i class="far fa-edit"></i>
      <% end %>
    </p>
  <% end %>
</div>

<div class="container">
  <div class="wrapper-white margin-top-big text-center">
    <h1><%= Picture.first.page %></h1>
  </div>

  <div class="objects-container">

    <div class="objects-header">
      <div class="empty"></div>
      <% if current_user && current_user.id == 1 %>
        <div class="button-container">
          <%= link_to new_research_path(category: "Research topic"), class: "btn-big btn-pink" do %>
            <i class="fas fa-plus"></i> Add a new research
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="row">
      <% @researches.each_with_index do |research, index| %>
        <div class="col-xs-12 col-md-4 padding-left-right">
          <div class="margin-top-medium">

            <div class="text-center margin-top-medium margin-bottom">
              <% if @icons[research.icon].nil? %>
                <%= tag.p("", id:"icon", class: "fas fa-globe") %>
              <% else %>
                <%= tag.p("", id:"icon",class: @icons[research.icon]) %>
              <% end %>

              <% if current_user && current_user.id == 1&& %>
                <%= link_to edit_research_path(research), class:"btn-icon" do %><i class="far fa-edit"></i>
                <% end %>

                <%= link_to research_path(research), method: :delete, data:{confirm: "Delete this research?"}, class:"btn-icon" do %><i class="far fa-trash-alt"></i>
                <% end %>
              <% end %>
            </div>

            <div class="">
              <h2 class="text-center margin-bottom-medium"><%= research.title %></h2>
              <p><i><%= research.descr_one %></i></p>
              <p class="margin-top"><%= research.descr_two %></p>
              <p class="margin-top"><%= research.descr_three %></p>
            </div>

          </div>
        </div>
      <% end %> <!-- end of researches loop -->
    </div>  <!-- end of row -->
  </div> <!-- end of objects-container  -->

  <hr class="divider-page padding-left-right">

  <div class="objects-header">
    <h3>Fundings</h3>
    <% if current_user && current_user.id == 1 %>
      <div class="button-container">
        <%= link_to new_research_path(category: "Funding"), class: "btn-big btn-pink" do %>
          <i class="fas fa-plus"></i> Add a new funding
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="objects-container margin-bottom-footer">
    <div class="row">
      <% @fundings.each do |fund| %>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="one-research">
            <% if !fund.icon.nil? && @icons[fund.icon].nil? %>
              <%= image_tag asset_path(fund.icon), class:"funding-image margin-top margin-bottom" %>
            <% end %>
            <h3 class="margin-top"><%= fund.title %></h3>
            <% if current_user && current_user.id == 1 %>
              <%= link_to edit_research_path(fund), class:"btn-icon" do %><i class="far fa-edit"></i>
              <% end %>

              <%= link_to research_path(fund), method: :delete, data:{confirm: "Delete this research?"}, class:"btn-icon" do %><i class="far fa-trash-alt"></i>
                <% end %>
              <% end %>
          </div>
          <p class="margin-top-small"><%= fund.descr_one %></p>
          <p class="margin-top-small"><%= fund.descr_two %></p>
        </div>
      <% end %>
    </div> <!-- end of fundings loop -->
  </div>
</div> <!-- end of container -->
