<div class="banner-pages"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path Picture.fourth.photo %>')">
  <div class="banner-content-pages">
    <h1><strong>Publications</strong></h1>
  </div>
  <% if current_user && current_user.id == 1 %>
    <p class="edit_picture_icon">
    <%= link_to edit_picture_path(Picture.fourth) do %><i class="far fa-edit"></i>
      <% end %>
    </p>
  <% end %>
</div>

<div class="container">
  <div class="objects-container">
    <div class="objects-header margin-bottom">
      <h2>Publications</h2>
      <% if current_user && current_user.id == 1 %>
      <div class="button-container">
          <%= link_to new_publication_path, class: "btn btn-big btn-blue" do %>
            <i class="fas fa-plus"></i> Add a new publication
          <% end %>
      </div>
      <% end %>
    </div>

    <% @publications.each do |publication| %>
      <div class="one-object publication-link">
          <%= link_to publication.url do %>
            <div class="object-content">
              <p><strong><%= "#{publication.authors} (#{publication.year.year}). "%></strong><%= publication.title %>
              <i><%= publication.journal %></i> <i class="fas fa-link"></i>
              </p>
            </div>
          <% end %>
          <div class="icon-container">
            <% if current_user && current_user.id == 1 %>
            <%= link_to edit_publication_path(publication), class:"btn-icon" do %><i class="far fa-edit"></i>
              <% end %>
            <%= link_to publication_path(publication), method: :delete, data:{confirm: "Delete this publication?"}, class:"btn-icon" do %><i class="far fa-trash-alt"></i>
              <% end %>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>
