<div class="banner-pages"
  style="background-image: linear-gradient(-225deg, rgba(4, 43, 104, 0.7) 30%, rgba(4, 43, 104, 0.5) 50%),
         url('<%= cl_image_path Picture.third.photo %>'); background-size: cover; background-position-y: <%= Picture.third.focus_picture %>;">
  <div class="banner-content-pages">
    <h1><strong><%= Picture.third.page %></strong></h1>
  </div>
  <% if current_user && current_user.id == 1 %>
    <p class="edit_picture_icon">
    <%= link_to edit_picture_path(Picture.third) do %><i class="far fa-edit"></i>
      <% end %>
    </p>
  <% end %>
</div>

<div class="container">
  <div class="objects-container margin-bottom-footer">
    <div class="objects-header margin-bottom">
      <h2>Publications</h2>
      <% if current_user && current_user.id == 1 %>
      <div class="button-container">
          <%= link_to new_publication_path, class: "btn-big btn-pink" do %>
            <i class="fas fa-plus"></i> Add a new publication
          <% end %>
      </div>
      <% end %>
    </div>

    <% @publications.each do |publication| %>
      <div class="one-object publication-link">
          <%= link_to publication.url, target: :_blank do %>
            <div class="object-content">
              <% if !publication.year.nil? %>
              <p><%= "#{publication.authors} (#{publication.year.year}). "%><strong><%= publication.title %></strong>
              <i><%= publication.journal %></i> [pdf]
              </p>
            <% else %>
              <p><%= publication.authors %> (<i>under review</i>). <strong><%= publication.title %></strong>
              <i><%= publication.journal %></i> [pdf]
              </p>
            <% end %>
            </div>
          <% end %>
          <div class="icon-container">
            <% if current_user && current_user.id == 1 %>
            <%= link_to edit_publication_path(publication), class:"btn-icon" do %><i class="far fa-edit"></i>
              <% end %>
            <%= link_to publication_path(publication), method: :delete, data:{confirm: "Delete this publication?"}, class:"btn-icon" do %><i class="far fa-trash-alt"></i>
              <% end %>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>
