<div class="padding-all">
    <%= simple_form_for(@collaborator) do |f| %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="form-inputs padding-top">
         <div class="col-xs-12 col-sm-6">
          <%= f.label :first_name %>
          <%= f.text_field :first_name %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <%= f.label :last_name %>
          <%= f.text_field :last_name %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <%= f.label :position %>
          <%= f.select :position, ["PI", "Lab Manager", "Post Doc", "PhD Student", "Research Assistant", "Master Student", "Undergraduate Student"] %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <%= f.label "Alumni?" %>
          <%= f.select :alumni, [:true, :false] %>
        </div>
        <div class="col-sm-12">
          <%= f.label :description_one, class:"alumni_hide" %>
          <%= f.text_area :description_one, class:"alumni_hide" %>
        </div>
        <div class="col-sm-12">
          <%= f.label :description_two, class:"alumni_hide" %>
          <%= f.text_area :description_two, class:"alumni_hide" %>
        </div>
        <div class="col-sm-12">
          <%= f.label :current_position, class:"alumni_show" %>
          <%= f.text_area :current_position, class:"alumni_show" %>
        </div>
        <div class="col-sm-12">
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
        </div>
        <div class="col-sm-12 text-center margin-bottom">
          <div><%= f.submit "Save", class: "btn btn-blue btn-big margin-top" %>
          </div>
        </div>
        <hr class="divider padding-left-right">
        <div class="text-center">
          <%= link_to "Go Back", people_path %>
        </div>
        </div>
    <% end %>
</div>
