<div id="footer">
  <div class="logo-container">
    <%= image_tag asset_path('logo_unitn_it.png'), class: "logo-img margin-left" %>
    <div>
      <p>BottiniLab</p>
      <p>Made with love by Stephanie Cattoir</p>
    </div>
  </div>
  <div class="link-container">
    <%= link_to "#" do %><i class="fab fa-twitter"></i>
    <% end %>
    <%= link_to "#" do %><i class="fab fa-slack-hash"></i>
      <% end %>
    <%= link_to "#" do %><i class="fab fa-github"></i>
      <% end %>
    <%= link_to "#" do %><i class="fas fa-graduation-cap"></i>
      <% end %>
  </div>
</div>
