<footer class="padding-bottom margin-top-medium" style="background-image: linear-gradient(-225deg, rgb(79,79,79) 30%, rgb(79,79,79) 50%)">
  <div class="container-fluid">

    <div class="row">
      <div class="logo-container">
        <div class="col-sm-4 col-md-3 margin-bottom margin-right padding-left">
          <%= image_tag asset_path('logo_unitn_it.png'), class: "logo-img" %>
        </div>

      </div>

      <div class="text-container">
        <div class="col-sm-4 col-md-4 margin-bottom padding-top padding-left-medium">
          <p>BottiniLab</p>
          <p>Made by
          <%= link_to "https://github.com/Steph186", class:"btn-icon-white" do %>Stephanie Cattoir <i class="fab fa-github"></i>
          <% end %>
          </p>
          <% if !user_signed_in? %>
            <%= link_to "Admin", new_user_session_path, class: "btn-hidden" %>
          <% end %>
        </div>
      </div>

      <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0 margin-bottom padding-top">
        <div class="link-container">
          <%= link_to "https://www.researchgate.net/profile/Roberto_Bottini" do %><i class="fab fa-researchgate"></i>
          <% end %>
          <%= link_to "#" do %><i class="fab fa-twitter"></i>
          <% end %>
          <%= link_to "#" do %><i class="fab fa-slack-hash"></i>
          <% end %>
          <%= link_to "#" do %><i class="fab fa-github"></i>
          <% end %>
          <%= link_to "https://scholar.google.com/citations?user=_rV7XZgAAAAJ&hl=en" do %><i class="fas fa-graduation-cap"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>


</footer>
