<div id="footer">
  <div class="logo-container">
    <%= image_tag asset_path('logo_unitn_it.png'), class: "logo-img margin-left" %>
    <div class="padding-top">
      <p>BottiniLab</p>
      <p>Made by
      <%= link_to "https://github.com/Steph186", class:"btn-icon-white" do %>Stephanie Cattoir <i class="fab fa-github"></i>
      <% end %>
      </p>
      <% if !user_signed_in? %>
        <%= link_to "Admin", new_user_session_path, class: "btn-hidden" %>
      <% end %>
    </div>
  </div>
  <div class="link-container">
    <%= link_to "https://www.researchgate.net/profile/Roberto_Bottini" do %><i class="fab fa-researchgate"></i>
    <% end %>
    <%= link_to "#" do %><i class="fab fa-twitter"></i>
    <% end %>
    <%= link_to "#" do %><i class="fab fa-slack-hash"></i>
      <% end %>
    <%= link_to "#" do %><i class="fab fa-github"></i>
      <% end %>
    <%= link_to "https://scholar.google.com/citations?user=_rV7XZgAAAAJ&hl=en" do %><i class="fas fa-graduation-cap"></i>
      <% end %>
  </div>
</div>
