<div id="footer">
  <div class="logo-container">
    <%= image_tag asset_path('cimec-logo.jpg'), class: "logo-img margin-left" %>
    <%= image_tag asset_path('sissa-logo.jpg'), class: "logo-img margin-left" %>
    <div>
      <p>BottiniLab</p>
      <p>Made with love by Stephanie Cattoir</p>
    </div>
  </div>
  <div class="link-container">
    <%= link_to "#" do %><i class="fas fa-plus"></i>
    <% end %>
    <%= link_to "#" do %><i class="fas fa-link"></i>
      <% end %>
    <%= link_to "#" do %><i class="far fa-edit"></i>
      <% end %>
    <%= link_to "#" do %><i class="far fa-trash-alt"></i>
      <% end %>
  </div>
</div>
