<nav class="nav">
  <div id="navbar-elements">
    <% # LOGO on the left, send to root page %>
    <div id="rb-logo">
      <%= link_to root_path, target: "_self" do %>
        <%= image_tag asset_path('circle-logo.png')  %>
        <p>BottiniLab</p>
      <% end %>
    </div>

    <% # hamburger ICON on the right %>
    <div class="hamburger-container">
      <ul class="hamburger">
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

    <ul id="menu">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "People", people_path %></li>
      <li><%= link_to "Publications", publications_path%></li>
      <li><%= link_to "News", news_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </div>
</nav>
