<%# if current_page?(url_for(:controller => 'static', :action => 'home')) %>
<div id="navbar-home">

  <% # LOGO on the left, send to root page %>
  <div class="navbar-logo navbar-item">
    <%= link_to root_path, target: "_self" do %>
      <%= image_tag asset_path("logo.png"), class: "navbar-logo" %>
    <% end %>
  </div>

  <% # pages LINKS on the right %>
  <ul class="navbar-links">
    <%= link_to "Home", root_path, class: "navbar-item" %>
    <%= link_to "Research", researches_path, class: "navbar-item" %>
    <%= link_to "People", people_path, class: "navbar-item" %>
    <%= link_to "Publications", publications_path, class: "navbar-item"%>
    <%= link_to "News", news_path, class: "navbar-item" %>
    <%= link_to "Contact", contact_path, class: "navbar-item" %>
  </ul>
</div>
