<!-- <div id="navbar-home">

  <% # LOGO on the left, send to root page %>
  <div id="rb-logo">
    <%#= link_to root_path, target: "_self" do %>
      <i class="far fa-dot-circle"></i>
      BottiniLab
    <%# end %>
  </div>

  <% # pages LINKS on the right for DESKTOP %>
  <ul class="navbar-links hidden-xs hidden-sm">
    <%#= link_to "Home", root_path, class: "navbar-item" %>
    <%#= link_to "Research", researches_path, class: "navbar-item" %>
    <%#= link_to "People", people_path, class: "navbar-item" %>
    <%#= link_to "Publications", publications_path, class: "navbar-item"%>
    <%#= link_to "News", stories_path, class: "navbar-item" %>
    <%#= link_to "Contact", contact_path, class: "navbar-item" %>
  </ul>

  <% # avatar on phone %>
    <div class="navbar-item hidden-md hidden-lg navbar-phone">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle navbar-item navbar-link" data-toggle="dropdown"></i>

        <ul id="dropdown-list" class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
          <li class="text-center"><#%= link_to "Home", root_path, class: "navbar-item" %></li>
          <li class="text-center"><#%= link_to "Research", researches_path, class: "navbar-item" %></li>
          <li class="text-center"><%#= link_to "People", people_path, class: "navbar-item" %></li>
          <li  class="text-center"><%#= link_to "Publications", publications_path, class: "navbar-item"%></li>
          <li class="text-center"><%#= link_to "News", stories_path, class: "navbar-item" %></li>
          <li class="text-center"><#%= link_to "Contact", contact_path, class: "navbar-item" %></li>
        </ul>
      </div>
    </div>

</div>
 -->


<nav class="nav">
  <div id="navbar-elements">
    <% # LOGO on the left, send to root page %>
    <div id="rb-logo">
      <%= link_to root_path, target: "_self" do %>
        <i class="far fa-dot-circle"></i>
        BottiniLab
      <% end %>
    </div>

    <% # hamburger ICON on the right %>
    <div class="hamburger-container">
      <ul class="hamburger">
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

    <ul id="menu">
      <li><%= link_to "Home", root_path, class: "navbar-item" %></li>
      <li><%= link_to "Research", researches_path, class: "navbar-item" %></li>
      <li><%= link_to "People", people_path, class: "navbar-item" %></li>
      <li><%= link_to "Publications", publications_path, class: "navbar-item"%></li>
      <li><%= link_to "News", stories_path, class: "navbar-item" %></li>
      <li><%= link_to "Contact", contact_path, class: "navbar-item" %></li>
    </ul>
  </div>
</nav>
