<div id="navbar-home">

  <% # LOGO on the left, send to root page %>
  <div class="navbar-logo navbar-item">
    <%= link_to root_path, target: "_self" do %>
      <%= image_tag asset_path("logo.png"), class: "navbar-logo" %>
    <% end %>
  </div>

  <% # pages LINKS on the right for DESKTOP %>
  <ul class="navbar-links d-none d-md-block d-xl-block">
    <%= link_to "Home", root_path, class: "navbar-item" %>
    <%= link_to "Research", researches_path, class: "navbar-item" %>
    <%= link_to "People", people_path, class: "navbar-item" %>
    <%= link_to "Publications", publications_path, class: "navbar-item"%>
    <%= link_to "News", news_path, class: "navbar-item" %>
    <%= link_to "Contact", contact_path, class: "navbar-item" %>
  </ul>

  <% # hamburger menu on PHONE %>
  <ul class="navbar-links d-block d-md-none d-md-none d-xl-none">
    <i class="fa fa-bars navbar-item"></i>
  </ul>
</div>
<!--
<nav class="nav">

  <div class="hamburger-container">
    <ul class="hamburger">
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>

  <ul id="menu">
    <li><a href="#">One</a></li>
    <li><a href="#">Two</a></li>
    <li><a href="#">Three</a></li>
    <li><a href="#">Four</a></li>
  </ul>

</nav>
 -->
