<!-- <div class="banner-pages"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<#%= cl_image_path Picture.fifth.photo %>')">
  <div class="banner-content-pages">
    <h1><strong>News</strong></h1>
  </div>
  <%# if current_user && current_user.id == 1 %>
    <p class="edit_picture_icon">
    <%#= link_to edit_picture_path(Picture.fifth) do %><i class="far fa-edit"></i>
      <%# end %>
    </p>
  <%# end %>
</div> -->

<div class="container">
  <div class="objects-container">

    <div class="objects-header">
      <h2>News</h2>

      <% if current_user && current_user.id == 1 %>
        <div class="button-container">
          <%= link_to new_news_path, class: "btn btn-big btn-blue" do %>
            <i class="fas fa-plus"></i> Add a news
          <% end %>
        </div>
      <% end %>
    </div>

    <% @news.each do |one_news| %>
      <div class="one-object margin-bottom margin-top">
        <div class="one-content">
          <div class="object-header">
            <p><strong><%= "#{one_news.title.capitalize}"%></strong></p>
            <p><%= "#{one_news.content.capitalize}" %></p>
            <% if current_user && current_user.id == 1 %>
              <%= link_to edit_news_path(one_news), class:"btn-icon" do %><i class="far fa-edit"></i>
              <% end %>

              <%= link_to edit_news_path(one_news), method: :delete, data:{confirm: "Delete this news?"}, class:"btn-icon" do %><i class="far fa-trash-alt"></i>
            <% end %>
          <% end %>
          </div>
        </div>
          <%= cl_image_tag one_news.photo, height: 300, width: 400, crop: :fill %>
        </div>


    <% end %>
  </div>
</div>


