<div class="banner-pages"
  style="background-image: linear-gradient(-225deg, rgba(4, 43, 104, 0.7) 30%, rgba(4, 43, 104, 0.5) 50%),
         url('<%= cl_image_path Picture.fifth.photo %>'); background-size: cover; background-position-y: 47%;">
  <div class="banner-content-pages">
    <h1><strong><%= Picture.fifth.page %></strong></h1>
  </div>
  <% if current_user && current_user.id == 1 %>
    <p class="edit_picture_icon">
    <%= link_to edit_picture_path(Picture.fifth) do %><i class="far fa-edit"></i>
      <% end %>
    </p>
  <% end %>
</div>

<div class="container">
  <div class="objects-container">

    <div class="objects-header">
      <h2>News</h2>

      <% if current_user && current_user.id == 1 %>
        <div class="button-container">
          <%= link_to new_story_path, class: "btn btn-big btn-pink" do %>
            <i class="fas fa-plus"></i> Add a news
          <% end %>
        </div>
      <% end %>
    </div>

    <% @stories.each do |story| %>
      <div class="one-object margin-top-medium">
        <% if story == @first_story%>
        <div class="one-story">
        <% else %>
        <div class="one-story">
        <% end %>


          <%#= cl_image_tag story.photo, height: 500, class:"story-image margin-bottom" %>
          <div class="object-header">
            <p class="title margin-bottom-small"><strong><%= story.title %></strong></p>
            <% if current_user && current_user.id == 1 %>
              <%= link_to edit_story_path(story), class:"btn-icon" do %><i class="far fa-edit"></i>
              <% end %>

              <%= link_to edit_story_path(story), method: :delete, data:{confirm: "Delete this news?"}, class:"btn-icon" do %><i class="far fa-trash-alt"></i>
            <% end %>
          <% end %>
          </div>
          <p class="published_at margin-bottom">Published on <%= "#{story.updated_at}" %></p>

          <div class="story-image margin-bottom"
            style="background-image: linear-gradient(-225deg, rgba(4, 43, 104, 0.5) 30%, rgba(4, 43, 104, 0.3) 50%), url('<%= cl_image_path story.photo %>'); background-size: cover;">
          </div>
            <p><%= story.content %></p>
        </div>
        </div>
        <% if story != @first_story%>
        <hr class="divider-stories padding-left-right">
        <% end %>
    <% end %>
  </div>
</div>


