<!-- <div class="banner-pages"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<#%= cl_image_path Picture.fifth.photo %>')">
  <div class="banner-content-pages">
    <h1><strong>News</strong></h1>
  </div>
  <%# if current_user && current_user.id == 1 %>
    <p class="edit_picture_icon">
    <%#= link_to edit_picture_path(Picture.fifth) do %><i class="far fa-edit"></i>
      <%# end %>
    </p>
  <%# end %>
</div> -->

<div class="container">
  <div class="objects-container">

    <div class="objects-header">
      <h2>News</h2>

      <% if current_user && current_user.id == 1 %>
        <div class="button-container">
          <%= link_to new_story_path, class: "btn btn-big btn-blue" do %>
            <i class="fas fa-plus"></i> Add a news
          <% end %>
        </div>
      <% end %>
    </div>

    <% @stories.each do |story| %>
      <div class="one-object margin-top-medium">
        <div class="one-story">
          <%= cl_image_tag story.photo, class:"story-image margin-bottom" %>
          <div class="object-header">
            <p class="title margin-bottom-small"><strong><%= "#{story.title.capitalize}"%></strong></p>
            <% if current_user && current_user.id == 1 %>
              <%= link_to edit_story_path(story), class:"btn-icon" do %><i class="far fa-edit"></i>
              <% end %>

              <%= link_to edit_story_path(story), method: :delete, data:{confirm: "Delete this news?"}, class:"btn-icon" do %><i class="far fa-trash-alt"></i>
            <% end %>
          <% end %>
          </div>
            <p class="published_at margin-bottom">Published on <%= "#{story.updated_at}" %></p>
            <p><%= "#{story.content.capitalize}" %></p>
        </div>
        </div>
        <hr class="divider-stories padding-left-right">
    <% end %>
  </div>
</div>


