<div class="banner-home"
  style="background-image: linear-gradient(-225deg, rgba(4, 43, 104, 0.7) 30%, rgba(4, 43, 104, 0.5) 50%), url('<%= cl_image_path Picture.first.photo %>'); background-size: cover; background-position-y: 12%;">
  <div class="banner-content-home">
  </div>
  <% if current_user && current_user.id == 1 %>
    <p class="edit_picture_icon">
    <%= link_to edit_picture_path(Picture.first) do %><i class="far fa-edit"></i>
      <% end %>
    </p>
  <% end %>
</div>

<div class="container">
  <div class="wrapper-white margin-top-big text-center">
    <h2><%= Picture.first.page %></h2>
  </div>
  <div class="categories margin-bottom-footer">
    <div class="row">
      <% @researches.each do |research| %>
      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
        <%=  link_to researches_path, class:"btn-icons" do %>
          <div class="icons-card">
            <div class="icon-content">
              <% if @icons[research.icon].nil? %>
                <%= tag.p("", class: "fas fa-globe") %>
              <% else %>
                <%= tag.p("", class: @icons[research.icon]) %>
              <% end %>
              <p><%= research.title %></p>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>

      <%# end row %>
    </div>

  <% # end category div %>
  </div>
</div>
