<div class="banner-pages"
  style="background-image: linear-gradient(-225deg, rgba(4, 43, 104, 0.7) 30%, rgba(4, 43, 104, 0.5) 50%),
         url('<%= cl_image_path Picture.last.photo %>'); background-size: cover; background-position-y: <%= Picture.last.focus_picture %>;">
  <div class="banner-content-pages">
    <h1><strong><%= Picture.last.page %></strong></h1>
  </div>
  <% if current_user %>
    <%= link_to edit_picture_path(Picture.last), class: "btn-edit_picture" do %><i class="far fa-edit"></i>
      <% end %>
  <% end %>
</div>

<!-- Create admin user -->
<!-- <div class="button-container">
  <%#= link_to new_user_registration_path, class: "btn-big btn-pink" do %>
    <i class="fas fa-plus"></i> Add a admin
  <%# end %>
</div> -->

<div class="container">
  <div class="objects-container margin-bottom-footer">
    <div class="objects-header">
      <h2></h2>
      <% if current_user %>
        <div class="button-container">
          <%= link_to new_lab_path, class: "btn-big btn-pink" do %>
            <i class="fas fa-plus"></i> Add a contact lab
          <% end %>
        </div>
      <% end %>
    </div>

    <% @labs.each do |lab| %>

      <div class="image-text-container">
        <%= image_tag asset_path('Maso2.JPG'), class:"contact-image margin-top-medium" %>
        <div class="padding-left margin-top-medium">
          <div class="one-block">
            <i class="fas fa-map-marker-alt contact-icon"></i>
            <div class="adress">
              <p><%= lab.university %>
                <% if current_user %>
                  <%= link_to edit_lab_path(lab), class:"btn-icon" do %><i class="far fa-edit"></i>
                  <% end %>
                <%= link_to lab_path(lab), method: :delete, data:{confirm: "Delete this lab?"}, class:"btn-icon" do %><i class="far fa-trash-alt"></i>
                <% end %>
                <% end %>
              </p>

              <p><%= lab.title %></p>
              <p><%= lab.street %></p>
              <p><%= lab.city_country %></p>
            </div>
          </div>
          <br>
          <% unless lab.phone.empty? %>
            <div class="one-block">
              <i class="fas fa-phone contact-icon"></i>
              <p><%= lab.phone %></p>
            </div>
          <% end %>
          <div class="one-block">
            <i class="fas fa-envelope contact-icon"></i>
            <p> &#114;&#111;&#098;&#101;&#114;&#116;&#111;<i id="dot" class="fas fa-circle"></i>&#098;&#111;&#116;&#116;&#105;&#110;&#105;<i class="fas fa-at"></i>&#117;&#110;&#105;&#116;&#110;<i id="dot" class="fas fa-circle"></i>&#105;&#116;</p>
          </div>
        </div>
      </div>
    <% end %>

  <div id="map"; class="margin-bottom-big margin-top-big"; style="width: 100%; height: 400px;" data-markers="<%= @markers.to_json %>"></div>

</div>
</div>

