<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <!-- set appearance as google search result -->
    <title>BottiniLab</title>
    <meta name="description" content="We do fundamental research in psychology and neuroscience to understand how the mind represents knowledge.">

    <!-- To enable Bootstrap responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- appearance of website when attached as link -->
    <meta property="og:title" content="BottiniLab">
    <meta property="og:image" content="blue-brain.jpg">
    <meta property="og:description" content="We do fundamental research in psychology and neuroscience to understand how the mind represents knowledge.">
    <meta property="og:site_name" content="BottiniLab"/>
    <!--  -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_include_tag "application" %> <!-- from app/assets/javascripts/application.js -->
  </head>
  <body>
    <% if user_signed_in? %>
      <%= render 'shared/admin'%>
    <% end %>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <%= render 'shared/footer', links: @links  %>
    <%= javascript_pack_tag "application" %>    <!-- from app/javascript/packs/application.js -->
  </body>
</html>
</body>
